{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <a href="{% url 'profile' %}">
        <button id="id_nav_profile">{{user.first_name }} {{ user.last_name }}</button>
    </a>
    <div>
        <a href="{% url 'global' %}">
            <button id="id_nav_global_stream">Global</button>
        </a>
        <a href="{% url 'follower' %}">
            <button id="id_nav_follower_stream">Follower</button>
        </a>
        <a href="{% url 'logout' %}">
            <button id="id_nav_logout">Logout</button>
        </a>
    </div>
{% endblock %}

{% block message %}
    <div id="id_page_name">Follower Stream</div>
{% endblock %}

{% block content %}
    <div id="my-posts-go-here"></div>
    <script>
        const addCommentURL = "{% url 'ajax-add-comment' %}"
        // Save this user's username so our JS deleteItem() function can determine
        // whether show delete buttons
        // const myUserName = "{{ request.user.username }}"

        // // If you wish to use the template language's URL reverse function, you can
        // // do it here in the HTML file, but not in the JS file

        // Call getList() as soon as page is finished loading to display the todolist
        window.onload = () => loadPosts('follower');

        // ... also call getList every 5 seconds hereafter to update the list
        window.setInterval(() => loadPosts('follower'), 5000);
    </script>
{% endblock %}
