{% extends "socialnetwork/base.html" %}

{% block user-info %}
    <a href="{% url 'profile' %}">
        <button id="id_nav_profile">{{ user.first_name }} {{ user.last_name }}</button>
    </a>
    <div>
        <a href="{% url 'global' %}">
            <button id="id_nav_global_stream">Global</button>
        </a>
        <a href="{% url 'profile' %}">
            <button id="id_nav_follower_stream">Follower</button>
        </a>
        <a href="{% url 'logout' %}">
            <button id="id_nav_logout">Logout</button>
        </a>
    </div>
{% endblock %}

{% block message %}
    <div id="id_page_name"> {{ profile.user.first_name }} {{ profile.user.last_name }} Profile </div>
{% endblock %}

{% block content %}
    {% if not profile.picture %}
        <img id="id_user_picture" src="../../static/follower.jpg" alt="profile pic">
    {% else %}
        <img id="id_user_picture" src="{% url 'photo' profile.user.id %}" alt="profile pic">
    {% endif %}
    <br>
    <div id="id_user_bio">
        {{profile.bio}}
    </div>
    <br>
    {% if profile.user in request.user.profile.following.all %}
        <form action="{% url 'unfollow' profile.user.id %}" method="POST">
            <button id="id_unfollow">Unfollow</button>
            {% csrf_token %}
        </form>
    {% else %}
        <form action="{% url 'follow' profile.user.id %}" method="POST">
            <button id="id_follow">Follow</button>
            {% csrf_token %}
        </form>
    {% endif %}
        
{% endblock %}