{% extends "base.html" %}

{% block user-info %}
    <div class="navbar">
        <a href="{% url 'global' %}">
            <button class="topButton" id="thisPage">Discover </button>
        </a>
        <a href="{% url 'matches' %}">
            <button class="topButton">Matches</button>
        </a>
        <div class="dropdown">
            <button class="dropdownButton">
                <i class='fas fa-user-alt'></i> {{ user.first_name }} {{ user.last_name }}
            </button>
            <div class="dropdownContent">
                <a href="{% url 'profile' %}"> View Profile </a>
                <a href="{% url 'logout' %}"> Log Out </a>   
            </div>
        </div>
    </div>
{% endblock %}

{% block message %}
    <div id="id_page_name">Discovery Feed</div>
{% endblock %}

{% block content %}
    <div id="my-profiles-go-here"></div>
    <script>
        window.onload = loadProfiles();
        const likeURL = "{% url 'like' %}"
        const dislikeURL = "{% url 'dislike' %}"
        window.setInterval(() => loadProfiles(), 5000);
    </script>
{% endblock %}